

.form_log {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.jumbotron {
  background: rgb(79, 149, 65);
}

body {
  background: rgb(222, 233, 216);
}

a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bottom_reg {
  margin-bottom: 60px;
}
